
* {
  background-color: white;
}
.pokemon-header-bar {
  background-color: red;
  padding: 5px;
}

.pokemon-header {

  color: white;
  text-align: center;
  background-color: red;
}

.pokemon-fact {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: red;
}

.background {
  position: absolute;
  z-index: 0;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.pokemon-img {
  background-color: transparent;
  position: relative;
  z-index: 1;
  height: 250px;
  width: 250px;
  padding: 30px;
}

.pokemon-img:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }

  80% {
      transform: translateY(-2px);
  }
  100% {
      transform: translateY(0);
  }
}